//Colors
$color-blue-dark: #1b2f64;
$color-blue: #213974;
$color-blue-light: #96bdfb;
$color-red: #db1333;
$color-white: #f9f9f9;
$color-grey: #94949e;

//Grid
$grid-width: 114rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;

//Fonts
$default-font-size: 1.6rem;

//Max width container
$max-width: 90rem;
