//Colors
$color-blue: #213974;
$color-blue-light: #213974;
$color-red: #db1333;
$color-white: #f9f9f9;

//Grid
$grid-width: 114rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;

//Fonts
$default-font-size: 1.6rem;
